form {
  width: 25rem;
  margin: 35px auto 90px;
  display: inline-block;
}
.mat-form-field {
  width: 16rem;
  margin-left: 4rem;
}
.misc-bottom-padding {
  margin: 8px 0 20px;
}
.misc-bottom-padding mat-label {
  margin-right: 15px;
}
.mat-radio-label {
  margin: 0 15px 0 0;
}
.title-center {
  margin: 0 auto;
}
.button-wrapper {
  margin: 10px 0px 0px 8rem;
}
body {
  margin: 0;
  font-family: "Gill Sans", "Helvetica Neue", sans-serif;
}
.para {
  font-family: "Gill Sans", "Helvetica Neue", sans-serif;
}
.close {
  float: right;
}
