<section>
  <mat-sidenav-container>
    <mat-sidenav-content>
      <p class="reg">
        Register Here . . .
        <button class="close" mat-button mat-dialog-close>X</button>
      </p>
      <form [formGroup]="myForm" novalidate (ngSubmit)="submitForm()">
        <div class="misc-bottom-padding" appearance="fill">
          <!-- <mat-label>Want to register as Service Provider ?</mat-label>
        <mat-radio-group
          aria-label="Select an option"
          formControlName="svcProvider"
        >
          <mat-radio-button value="Yes" class="mat-radio-label">
            Yes</mat-radio-button
          >
          <mat-radio-button value="No" class="mat-radio-label">
            No</mat-radio-button
          >
        </mat-radio-group> -->
          <mat-checkbox formControlName="svcProvider"
            >Register as Service Provider ?</mat-checkbox
          >
        </div>
        <!-- First Name -->
        <mat-form-field [floatLabel]="'auto'" appearance="fill">
          <mat-label>First Name</mat-label>
          <input
            matInput
            placeholder="First name"
            formControlName="firstname"
          />
          <mat-error *ngIf="errorHandling('firstname', 'required')">
            You must provide a <strong>name</strong>
          </mat-error>
        </mat-form-field>
        <!-- Last Name -->
        <mat-form-field [floatLabel]="'auto'" appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last name" formControlName="lastname" />
          <mat-error *ngIf="errorHandling('lastname', 'required')">
            You must provide a <strong>last name</strong>
          </mat-error>
        </mat-form-field>
        <!-- Email -->
        <mat-form-field [floatLabel]="'auto'" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="mail id" formControlName="email" />
          <mat-error *ngIf="errorHandling('email', 'pattern')">
            Email you entered is incorrect
          </mat-error>
        </mat-form-field>
        <!-- Contact -->
        <mat-form-field [floatLabel]="'auto'" appearance="fill">
          <mat-label>Contact</mat-label>
          <input matInput placeholder="contact" formControlName="contact" />
          <mat-icon matSuffix>phone</mat-icon>
          <mat-error *ngIf="errorHandling('contact', 'pattern')">
            Contact you entered is incorrect
          </mat-error>
        </mat-form-field>
        <!-- Gender -->
        <div class="misc-bottom-padding" appearance="fill">
          <mat-label class="reg">Gender:</mat-label>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="gender"
          >
            <mat-radio-button value="Male" class="mat-radio-label"
              >Male</mat-radio-button
            >
            <mat-radio-button value="Female" class="mat-radio-label"
              >Female</mat-radio-button
            >
          </mat-radio-group>
        </div>
        <!-- Date picker -->
        <mat-form-field appearance="fill">
          <input
            matInput
            readonly
            [matDatepicker]="picker"
            class="dob"
            placeholder="Date of birth"
            formControlName="dob"
            (dateChange)="date($event)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field [floatLabel]="'auto'" appearance="fill">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="errorHandling('password', 'required')">
            You must provide a<strong> password</strong>
          </mat-error>
          <mat-error *ngIf="errorHandling('password', 'pattern')">
            You must provide a<strong> strong password min 8 chars</strong>
          </mat-error>
        </mat-form-field>
        <!-- Add Services -->
        <!-- <mat-form-field appearance="fill" class="multiple-items"> -->

        <mat-expansion-panel
          hideToggle
          class="multiple-items"
          appearance="fill"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Select Service/s you like to provide
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-chip-list
            #chipList
            appearance="fill"
            formControlName="serviceProv"
          >
            <mat-chip
              *ngFor="let service of services"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(service)"
            >
              {{ service.serviceName }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </mat-expansion-panel>
        <!-- </mat-form-field> -->
        <mat-form-field appearance="fill">
          <mat-label>Location</mat-label>
          <mat-select formControlName="city" required>
            <mat-option *ngFor="let city of cities" [value]="city">
              {{ city }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="errorHandling('city', 'required')"
            >Please choose an city</mat-error
          >
          <!--    <mat-hint>{{ cityControl.value?.sound }}</mat-hint> -->
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <textarea
            formControlName="address"
            matInput
            placeholder="Address"
          ></textarea>
        </mat-form-field>

        <!-- Submit -->
        <div class="button-wrapper">
          <button
            type="submit"
            [disabled]="!myForm.valid"
            class="button-wrapper"
            mat-raised-button
            color="primary"
          >
            Submit
          </button>
        </div>
      </form>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
