.head {
  padding-inline-start: 35rem;
  font-size: large;
  font-weight: bold;
  color: #0f0b0b;
  font-family: "Gill Sans", "Helvetica Neue", sans-serif;
}

.link {
  color: #6cdf14;
  font-family: "Gill Sans", "Helvetica Neue", sans-serif;
}

.menu {
  color: #101010;
}
